<h1> This is the login page </h1>

  <div class="login">
    <div class="container">

      <p id=”alert”><%= alert %></p>


      <form action="/sessions" method="post">

        <h1>Login</h1>

        <div class="form-group">
          <label><h3>Email:</h3></label>
          <input type="email" class="form-control" name="email" value="" />
        </div>
        <div class="form-group">
          <label><h3>Password:</h3></label>
          <input type="password" class="form-control" name="password" value="" />
        </div>
        <input type="submit" class="btn btn-primary" value="Submit" />

      </form>


    </div>
  </div>