<h1>Create a new article here</h1>

   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<form action="/article/create" method="post" enctype="multipart/form-data">

<h4>Title:</h4><input type="title" name="title"><br>
<h4>Article Text:</h4><input type="body" name="body"><br>

  <p><input type="file" name="image">

  <input type="submit" name="" value="Create article"/>

</form>


