<h1>Create a new wanted listing</h1>


<form action="/new_wanted/create" method="post">

<h4>Title:</h4><input type="title" name="title"><br>
<h4>Initial Offer:</h4><input type="initial_offer" name="initial_offer"><br>

<input type="submit" name="" value="Create Wanted"/>

</form>
      
    
    

