<h1>Create a new wanted listing</h1>

   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<form action="/wanted" method="post" enctype="multipart/form-data">

Title:<input type="text" name="title" value="">

Initial offer:<input type="text" name="initial_offer" value="">

  <input type="hidden" id="user_id" name="user_id" value=<%= current_user.id %> >

<p><input type="file" name="image_url">


<p><button type="submit">Submit</button>

</form>

      
  

