<h1>Dashboard for <%= current_user.user_name %> </h1>

<h3>Avatar:</h3>

<h3>Stars/likes</h3>

<h3>Bio:</h3>

<h3>My Collection:</h3>

<h3>My items listed for sale:</h3>
<% @my_listings.each do |listing|%>
  <ul>
    <li><%= listing.item_name %>
  </ul>
<% end %>


<h3>Wanted Items:</h3>
<% @my_wanteds.each do |wanted|%>
  <ul>
    <li><%= wanted.title %>
  </ul>
<% end %>