body{
  background-image: url(/assets/boards.jpg);
  background-attachment: fixed;
}

footer{
    background-color: lightgray;
    height: 100px;
}

nav{
  background-color: black;
}

nav.li{
  color: white;
}

#description_box .input{
  height: 300px;
  width: 200px;
}

#newlisting{
  align-content: center;
}

.jumbotron{
  text-align: center;
  height: 300px;
}

.jumbo-title{
  background-color: black;
  font-size: 40pt;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20pt;
}

.main_content{
  padding: 20px;
  text-align: center;
  align-content: center;
}

#article-body{
  background-color: white;
  width: 95%;
  border-width: 1pt;
  border-style: solid;
  padding: 40px;
}

#image{
  height: 10px;
  width: 10px;
}

.navbar-header{
  color: black;
}

.card-price{
  text-align: center;
  font-size: 20pt;
  color: green;
}

.card-title{
  text-align: center;
}

#wanted{
  text-align: center;
  background-color: lightyellow;
  border-width: 1pt;
  border-bottom-style: dotted;
  padding: 10px;
  width: 90%;
}

#wanted-title{
  text-align: center;
  letter-spacing: 10pt;
  background-color: white;
  width: 100%;
  padding: 20px;
}

#for-sale-front-page{
  background-color: white;
}

#wanted-front-page{
  background-color: white;
}

.login{
  background-color: white;
  padding: 40px;
}

#inventory{
  background-color: white;
  border-style: solid;
  padding: 40px;
}

.inventory-title{
  text-align: center;
  padding: 20px;
}

.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
}

nav .navbar-nav li a{
  color: #7cd0f7 !important;
  }

nav .navbar-nav li a:hover{
color: lightgrey !important;
}

.navbar-brand{
    color: #7cd0f7 !important;
}

.icon-bar{
  background-color: #7cd0f7;
}


