
footer{
    background-color: lightgray;
    height: 100px;
}

#description_box .input{
    height: 300px;
    width: 200px;
}

#newlisting{
    align-content: center;
}

.jumbotron{
  text-align: center;
}

.main_content{
  align-content: center;
  text-align: center;
  padding: 20px;
}
